body {
  background-color: skyblue;
  color: white;
  font-family: "Roboto";
}

h1 {
  font-size: 20px;
  font-weight: lighter;
  font-style: italic;
  line-height: 1.2;
}

li {
  background-color: orange;
  display: inline;
}

.nav-item {
  border: 1px solid black;
}

#aside {
  background-color: white;
}

input[type="email"] {
  background-color: blue;
}

h1,
p,
h2,
a {
  font-size: 25px;
}

#aside + section {
  background-color: brown;
}

#one ~ li {
  background-color: aqua;
}

li > a {
  color: black;
}

main li {
  margin-left: 5px;
}

li:nth-child(3n) {
  border: 10px solid red;
}

#aside ul li:first-child a {
  color: purple;
}

.wrapper {
  border: 1px solid black;
  width: 400px;
  height: 400px;
  background-image: url("https://picsum.photos/200");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
